{{ partial "header.html" . }}

<nav class="pure-u-1 pure-menu pure-menu-horizontal text-center">
	<ul class="pure-menu-list">
		<li class="pure-menu-item">
			<a class="pure-menu-link" href="/">About</a>
		</li>
		<li class="pure-menu-item">
			<a class="pure-menu-link" href="/blahg">Blahg</a>
		</li>
		<li class="pure-menu-item">
			<a class="pure-menu-link" href="/duckchase">Duckchase</a>
		</li>
		<li class="pure-menu-item">
			<a class="pure-menu-link" href="/project/">Projects</a>
		</li>
		<li class="pure-menu-item">
			<a class="pure-menu-link" href="/contact/">Contact</a>
		</li>
	</ul>
</nav>

<div class="pure-u-1 page-content">
  {{ .Content }}
</div>

{{ partial "footer.html" . }}
