{{ partial "header.html" . }}

<div class="pure-u-1 page-content">
  <h1>{{ .Title }}</h1>
  <h3>{{ .Date.Format "Mon, Jan 2, 2006" }}</h3>
  {{ if .Params.update }}
    <h5>Updated: {{ .Params.update }}</h5>
  {{ end }}
  {{ .Content }}

</div>

</div><!-- header.html: body-container -->

<div class="pure-g desktop-footer-duckchase">
  <div class="pure-u-1-2 nav-back">
    {{ if .Next }}
    <a href="{{ .Next.Permalink }}" class="full-div-link"><span><i class="fa fa-arrow-left"></i></span></a>
    <p>{{ .Next.Description }}</p>
    {{ end }}
  </div>
  <div class="pure-u-1-2 nav-forward">
    {{ if .Prev }}
    <a href="{{ .Prev.Permalink }}" class="full-div-link"><span><i class="fa fa-arrow-right"></i></span></a>
    <p>{{ .Prev.Description }}</p>
    {{ end }}
  </div>
</div>

<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES * * */
  var disqus_shortname = 'bsantero';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>

</body>
</html>
