{{ partial "header.html" . }}

<div class="pure-g portfolio page-content">

	<div class="pure-u-1">
		{{ .Content }}
	</div>

</div>

<div class="pure-g mobile-footer-duckchase">
	<div class="pure-u-1-2 nav-back">
		<a href="{{ .Next.Permalink }}" class="full-div-link"><span><i class="fa fa-arrow-left"></i></span></a>
    <p>{{.Next.Description}}</p>
	</div>
	<div class="pure-u-1-2 nav-forward">
		<a href="{{ .Prev.Permalink }}" class="full-div-link"><span><i class="fa fa-arrow-right"></i></span></a>
		<p>{{.Prev.Description}}</p>
	</div>
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'bsantero';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

</body>
</html>
